#container{
	display: table;
}
#canvas{
	border: 1px solid crimson;
	display:table-cell;
}
.tr{
	display: table-row;
}
.td{
	display: table-cell;
}
.menu-container{
	width:200px;
	display: table-cell;
	border: 1px solid blueviolet;
	vertical-align: top;
}
.menu{
	display: table;
	width: 100%;
	background-color: blanchedalmond;
}
.menu-item{
	display: table-row;
	text-align: center;
	outline: 1px solid olivedrab;
}
.menu-item-option-group{
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 5px;
	padding: 2px;
}
.selected{
	border: 1px solid red !important;
}
.option{
	border: 1px solid gray;
}
